<section>

  <% if @book.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <!-- ここから -->
  <% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
  <% end %>
  <!-- ここまで -->

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <div class="form-group text-left">
          <h2>User info</h2>
        </div>
        <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-thumbnail pull-left profile-img", fallback: "no_image.jpg" %>
        <table class="table">
          <tbody>
            <tr colspan="1"></tr>
            <tr>
              <th>name</th>
              <th><%= current_user.name %></th>
            </tr>
            <tr>
              <th>introduction</th>
              <th><%= current_user.introduction %></th>
            </tr>
          </tbody>
        </table>
        <%= link_to edit_user_path(current_user) do %>
        <button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
        <% end %>

        <div class="form-group text-left">
          <h2>New book</h2>
        </div>

        <%= form_for(@book) do |f| %>
        <div class="form-group">
          <label class="control-label">Title</label>
          <%= f.text_field :title, class:"form-control" %>
        </div>
        <div class="form-group">
          <label class="control-label">Opinion</label>
          <%= f.text_area :body, class:"form-control", rows:"3" %>
        </div>
        <%= f.submit "Create Book", class:"btn btn-primary btn-block btn-base-1 mt-20" %>
        <% end %>
      </div>

      <!-- ここから -->
      <div class="col-xs-9">
        <div class="form-group text-left">
          <h2>Users</h2>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= attachment_image_tag(user, :profile_image, :fill, 30, 30, format: 'jpeg', class: "img-thumbnail pull-left profile-img", fallback: "no_image.jpg") %></td>
                <td><%= user.name %></td>
                <td><%= link_to "Show", user_path(user.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- ここまで -->

    </div>
  </div>
</section>

